{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}
{% block css %}
    <style>
        body {
           background-color: #0000ff70;
        }
        .center {
            display: block;
            width: 100px;
            height: 100px;
        }
        main, footer {
            animation-name: Hien_tu_tu;
            animation-duration: 1s;
        }
        @keyframes Hien_tu_tu {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        dialog {
            /* Initial styles when closed */
            opacity: 0;
            transition: opacity 0.3s ease-in-out, display 0.3s allow-discrete, overlay 0.3s allow-discrete;
        }

        dialog[open] {
            /* Styles when open */
            opacity: 1;
        }

        @starting-style {
            dialog[open] {
                /* Styles *before* the dialog opens, for a smooth entry */
                opacity: 0;
            }
        }

        dialog::backdrop {
            /* Styles for the backdrop */
            background: hsl(0 0% 0% / 0%);
            transition: background 0.3s ease-in-out;
        }

        dialog[open]::backdrop {
            background: hsl(0 0% 0% / 50%);
        }

        @starting-style {
            dialog[open]::backdrop {
                background: hsl(0 0% 0% / 0%);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="text-start text-primary">Các trang nổi bật</h2>
    <br>
    <section class="bg-primary-subtle w-25 h-25">
        <img src="https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/748106822_27366002103056527_7807286863879184153_n.jpg?stp=dst-jpg_tt6&cstp=mx960x960&ctp=s960x960&_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeE170voQD-nV2Uckt7wskUVyU_JGMuivVHJT8kYy6K9USqE5lyc1IdPFbyt7dVglKIAOM_MKCNMFTOiWFma8ahS&_nc_ohc=fiiPSKSamvoQ7kNvwFTAg7W&_nc_oc=AdpBpoSpYlUG0s_Hq3kRcOejdc0Pyvo7r5cJ4hCgD-E9WfzJ9BkNDfv1RFvLHjZo9pb0QdduHc8PJNMjTdzfVFRW&_nc_zt=23&_nc_ht=scontent.fhan19-1.fna&_nc_gid=vgAx52HrA3COfZ0fcwZI7g&_nc_ss=7b2a8&oh=00_AQC6A6ocuf2Wo56ihxgUZ2gXzqRsoqy9NG_8AIrHCHnL6A&oe=6A62AD5D" class="rounded-circle center">
        <h3 class="text-danger">Giới thiệu bản thân mình</h3>
        <p>Đây là trang web giới thiệu bản thân mình.</p>
        <a href="about" title="Mở trang" class="btn btn-primary">Mở trang</a>
    </section>
    <br>
    <br>
    <section class="bg-primary-subtle w-25 h-25">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxPw3_HcJgYaqi0efC-YiohKn210nv3p7KB26fthS9Sg&s=10" class="rounded-circle center">
        <h3 class="text-danger">Liên hệ với mình</h3>
        <p>Những thông tin liên hệ của mình sẽ được để ở trang này.</p>
        <a href="contact" title="Mở trang" class="btn btn-primary">Mở trang</a>
    </section>
{% endblock %}