{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}
{% block css %}
    <style>
        body {
           background-color: #0000ff70;
        }
        .center {
            display: block;
            width: 100px;
            height: 100px;
        }
        main, footer {
            animation-name: Hien_tu_tu;
            animation-duration: 1s;
        }
        @keyframes Hien_tu_tu {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        dialog {
            /* Initial styles when closed */
            opacity: 0;
            transition: opacity 0.2s ease-in-out, display 0.2s allow-discrete, overlay 0.2s allow-discrete;
        }

        dialog[open] {
            /* Styles when open */
            opacity: 1;
        }

        @starting-style {
            dialog[open] {
                /* Styles *before* the dialog opens, for a smooth entry */
                opacity: 0;
            }
        }

        dialog::backdrop {
            /* Styles for the backdrop */
            background: hsl(0 0% 0% / 0%);
            transition: background 0.3s ease-in-out;
        }

        dialog[open]::backdrop {
            background: hsl(0 0% 0% / 50%);
        }

        @starting-style {
            dialog[open]::backdrop {
                background: hsl(0 0% 0% / 0%);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="text-start text-primary">Các trang nổi bật</h2>
    <br>
    <section class="bg-primary-subtle w-25 h-25">
        <img src="https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-1/756345074_27428788190111251_7579517567823479315_n.jpg?stp=cp6_dst-jpg_tt6&cstp=mx1546x1546&ctp=s200x200&_nc_cat=106&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeE6alTARS2oTiUbytMDtyooPc9Y1oShp8s9z1jWhKGny6rekvAjMrCqklolccaRq-wIXnIYYFf-Na3GFlJ_UYSi&_nc_ohc=csCaENEs7bgQ7kNvwE0HM1X&_nc_oc=Ado_ivV4gKXZYmWuUdjbbAKQd4rl5sSDGI9BnvxIdRFhXD8HnE5haogF_7nYFfyBJdZ1lLYCrOq4DhgIGx8Cfc9l&_nc_zt=24&_nc_ht=scontent.fhan19-1.fna&_nc_gid=CFm1gaUeslUjLgaQeEm3bA&_nc_ss=7b2a8&oh=00_AQDSzUZO5nSct1HLZtCLCQ_Gg45kWfPNx2Tgcv1YM-FQEQ&oe=6A6B8526" class="rounded-circle center">
        <h3 class="text-danger">Giới thiệu bản thân mình</h3>
        <p>Đây là trang web giới thiệu bản thân mình.</p>
        <a href="about" title="Mở trang" class="btn btn-primary">Mở trang</a>
    </section>
    <br>
    <br>
    <section class="bg-primary-subtle w-25 h-25">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxPw3_HcJgYaqi0efC-YiohKn210nv3p7KB26fthS9Sg&s=10" class="rounded-circle center">
        <h3 class="text-danger">Liên hệ với mình</h3>
        <p>Những thông tin liên hệ của mình sẽ được để ở trang này.</p>
        <a href="contact" title="Mở trang" class="btn btn-primary">Mở trang</a>
    </section>
{% endblock %}