<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bình luận của bài đăng</title>
</head>
{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col md-6">
            <hr>
            <h1 class="text-uppercase text-primary">Bình luận của bài đăng</h1>
            <hr>
            <form method="POST" onsubmit="chuyen_nut()">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.body }}
                </div>
                <button id="send_btn" type="submit" class="btn btn-primary">Gửi bình luận</button>
                <a href="javascript:history.back()" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
    <script>
        function chuyen_nut() {
            var btn = document.getElementById("send_btn");
            btn.textContent = 'Đang gửi bình luận...';
            btn.disabled = true;
        }
    </script>
{% endblock %}