{% extends "base.html" %}
{% block content %}
    <hr>
    <h1>{{ post.title }}</h1>
    <style>
        .nut_binh_luan_va_huy {
            transition: 0.3s ease-in-out;
        }
    </style>
    <article>
        <p>Bởi {{ post.author.username }} vào {{ post.created_at|date:"d/m/Y" }}</p>
        {% if user == post.author %}
            <div>
                <a title="Sửa bài đăng" class="btn btn-warning" href="{% url 'post-update'} post.pk">Sửa bài đăng</a>
                <a title="Xóa bài đăng" class="btn btn-danger" href="{% url 'post-delete'} post.pk">Xóa bài đăng</a>
            </div>
        {% endif %}
        <hr>
        <p><b>Nội dung bài đăng:</b><br>{{ post.content|truncatewords:30 }}</p>
    </article>
    <hr>
    <h2 class="text-uppercase">Bình luận</h2>
    <button onclick="Focus()" title="Viết bình luận" class="btn btn-primary">Viết bình luận</button>
    <br>
    <br>
    <label for="binh_luan"></label>
    <textarea type="text" id="binh_luan" class="form-control w-75" rows="3" style="resize: none;"  placeholder="Viết bình luận..."></textarea>
    <br>
    <div class="nut_binh_luan_va_huy">
        <button title="Bình luận" type="submit" class="btn btn-success">Bình luận</button>
        <button title="Hủy" type="reset" class="btn btn-danger">Hủy</button>
    </div>
{% endblock %}