{% extends "base.html" %}

{% block content %}
    <hr>
    <h1 class="text-uppercase">Danh sách bài đăng</h1>
    <hr>
    {% for post in posts %}
    <article>
        <h2><a href="{% url 'post-detail' post.pk %}" class="text-primary text-decoration-none">{{ post.title }}</a></h2>
        <p>Bởi {{ post.author.username }} vào {{ post.created_at|date:"d/m/Y" }}</p>
        <p>{{ post.content|truncatewords:30 }}</p>
    </article>
    {% empty %}
        <h2>Chưa có bài đăng nào.</h2>
        <p>Để thêm bài đăng mới, bấm chuột vào nút "Thêm bài mới".</p>
        <a href="{% url 'post-create' %}" title="Thêm bài mới" class="btn btn-primary">Thêm bài mới</a>
    {% endfor %}
{% endblock %}