{% extends "base.html" %}
{% block content %}
    <hr>
    <h1>{{ post.title }}</h1>
    <article>
        <p>Bởi {{ post.author.username }} vào {{ post.created_at|date:"d/m/Y" }}</p>
        {% if user == post.author %}
            <div>
                <a title="Sửa bài đăng" class="btn btn-primary" href="{% url 'post-update' post.pk %}">Sửa bài đăng</a>
                <a title="Xóa bài đăng" class="btn btn-danger" href="{% url 'post-delete' post.pk %}">Xóa bài đăng</a>
            </div>
        {% endif %}
        <hr>
        <p>{{ post.content|truncatewords:30 }}</p>
    </article>
    <hr>
    <h2 class="text-uppercase">Bình luận</h2>
    <a href="#" title="Viết bình luận" class="btn btn-secondary">Viết bình luận</a>
{% endblock %}