<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm bài mới</title>
</head>
{% extends "base.html" %}
{% block content %}
    <hr>
    <h1 class="text-uppercase text-primary">Thêm bài mới</h1>
    <p class="text-muted">Nhập tiêu đề và nội dung bài đăng, rồi bấm chuột vào nút "Đăng bài" để thêm bài mới của bạn.</p>
    <hr>
    <form method="POST" onsubmit="chuyen_nut()">
        {% csrf_token %}
        <label class="fs-4">Tiêu đề</label>
        {{ form.title }}
        <br>
        <br>
        <label class="fs-4">Nội dung</label>
        {{ form.content }}
        <br>
        <button id="post_btn" type="submit" class="btn btn-primary">Đăng bài</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Hủy</a>
    </form>
    <script>
        function chuyen_nut() {
            var btn = document.getElementById("post_btn");
            btn.textContent = 'Đang đăng bài...';
            btn.disabled = true;
        }
    </script>
{% endblock %}