<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm bài mới</title>
</head>
{% extends "base.html" %}
{% block content %}
    <hr>
    <h1 class="text-uppercase">Thêm bài mới</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <label class="fs-4">Tiêu đề</label>
        {{ form.title }}
        <br>
        <br>
        <label class="fs-4">Nội dung</label>
        {{ form.content }}
        <br>
        <p class="fs-4">Quyền riêng tư của bài đăng</p>
        <input type="radio" id="cong_khai" name="quyen_rieng_tu" checked required>
        <label for="cong_khai">Công khai</label>
        <br>
        <input type="radio" id="chi_minh_toi" name="quyen_rieng_tu" required>
        <label for="chi_minh_toi">Chỉ mình tôi</label>
        <br>
        <br>
        <button title="Đăng bài" type="submit" class="btn btn-primary">Đăng bài</button>
        <a href="javascript:history.back()" title="Hủy" class="btn btn-secondary">Hủy</a>
    </form>
{% endblock %}