<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xóa bài đăng</title>
</head>
{% extends "base.html" %}
{% block content %}
    <hr>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <h1 class="text-uppercase">Bạn có muốn xóa bài đăng "{{ post.title }}"?</h1>
            <p>Hành động này không thể hoàn tác.</p>
        </fieldset>
        <div>
            <button title="Xóa" type="submit" class="btn btn-danger">Xóa</button>
            <a href="javascript:history.back()" title="Hủy" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
{% endblock %}