{% extends "base.html" %}
{% block content %}
    <hr>
    <h1 class="text-uppercase text-primary">{{ post.title }}</h1>
    <article>
        <p class="text-muted">Bởi {{ post.author.username }} vào {{ post.created_at|date:"d/m/Y" }}</p>
        {% if user == post.author %}
            <div>
                <a class="btn btn-secondary" href="{% url 'post-update' post.pk %}">Sửa bài đăng</a>
                <a class="btn btn-danger" href="{% url 'post-delete' post.pk %}">Xóa bài đăng</a>
            </div>
        {% else %}
            {% if user.is_authenticated %}
                <h4 class="text-danger">Bạn không thể sửa hay xóa bài đăng này vì bạn không phải là người tạo bài đăng.</h4>
            {% else %}
                <h4 class="text-danger">Bạn chưa đăng nhập.</h4>
                <p class="text-muted">Đăng nhập để sửa hoặc xóa bài đăng này.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
            {% endif %}
        {% endif %}
        <hr>
        <p>{{ post.content|truncatewords:30 }}</p>
    </article>
    <hr>
    <div>
        <form action="{% url 'like-post' post.pk %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if user in post.likes.all %}
                    <button id="like_btn" type="submit" class="btn btn-danger">❤ Bỏ thích</button>
                {% else %}
                    <button id="like_btn" type="submit" class="btn btn-outline-danger">❤ Thích ngay</button>
                {% endif %}
            {% else %}
                <h4 class="text-danger">Bạn chưa đăng nhập.</h4>
                <p class="text-muted">Đăng nhập để thích bài đăng này.</p>
                <a href="{% url 'login' %}" class="btn btn-danger">❤ Đăng nhập để thích</a>
            {% endif %}
        </form>
        <span class="ms-3 text-muted">
            {% if post.total_likes == 0 %}
                <h4 class="text-danger">Chưa có lượt thích</h4>
            {% else %}
                <h4 class="text-success">{{ post.total_likes }} lượt thích</h4>
            {% endif %}
        </span>
    </div>
    <hr>
    <h1 class="text-primary">Bình luận ({{ post.comments.count }})</h1>
    {% csrf_token %}
    {% if user.is_authenticated %}
        <a href="{% url 'add-comment' post.pk %}" class="btn btn-primary">Viết bình luận</a>
    {% else %}
        <h4 class="text-danger">Bạn chưa đăng nhập.</h4>
        <p class="text-muted">Đăng nhập để bình luận bài đăng này.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
    {% endif %}
    <div class="comments-section">
        <div class="d-flex justify-content-between align-items-center mb-4">
        </div>
        {% if not post.comments.all %}
            <h4 class="text-danger">Chưa có bình luận nào.</h4>
            <p class="text-muted">Hãy là người đầu tiên bình luận.</p>
        {% else %}
            {% for comment in post.comments.all %}
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-subtitle mb-2 text-primary">
                                {{ comment.author.username }}
                            </h4>
                            <small class="text-muted">{{ comment.date_added|date:"d/m/Y H:i"}}</small>
                        </div>
                        <p class="card-text mt-2">{{ comment.body }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}