<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách bài đăng</title>
</head>
{% extends "base.html" %}
{% block content %}
    <hr>
    <h1 class="text-uppercase text-primary">Danh sách bài đăng</h1>
    <hr>
    {% for post in posts %}
        <article>
            <h2><a href="{% url 'post-detail' post.pk %}" class="text-decoration-none link-primary">{{ post.title }}</a></h2>
            <p class="fs-5">Bởi {{ post.author.username }} vào {{ post.created_at|date:"d/m/Y" }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
            <hr>
        </article>
    {% empty %}
        {% csrf_token %}
        {% if not user.is_authenticated %}
            <h3 class="text-danger">Chưa có bài đăng nào, bạn chưa đăng nhập.</h3>
            <p class="text-muted">Đăng nhập để thêm bài đăng mới.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
        {% else %}
                <h3 class="text-danger">Chưa có bài đăng nào.</h3>
                <p class="text-muted">Để thêm bài đăng mới, bấm chuột vào nút "Thêm bài mới".</p>
                <a href="{% url 'post-create' %}" class="btn btn-primary">Thêm bài mới</a>
        {% endif %}
    {% endfor %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; Trang đầu</a>
                </li>
                <li>
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Trang trước</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                    </li>
                {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Trang sau</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Trang cuối</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })
    </script>
{% endblock %}