<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>
{% extends "base.html" %}
{% block content %}
    <form method="post" onsubmit="changeButton()">
        {% csrf_token %}
        <h1 class="text-uppercase text-center text-success">Đăng nhập</h1>
        <br>
        <label for="user" class="fs-4">Tên đăng nhập</label>
        {{ form.username }}
        <br>
        <br>
        <label for="pass" class="fs-4">Mật khẩu</label>
        {{ form.password }}
        <br>
        <br>
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Tên đăng nhập hoặc mật khẩu không đúng!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <button type="submit" id="login_btn" title="Đăng nhập" class="btn btn-primary fs-6">Đăng nhập</button>
        <a href="javascript:history.back()" id="cancel_btn" title="Hủy" class="btn btn-secondary">Hủy</a>
    </form>
    <script>
        function changeButton() {
            var btn = document.getElementById("login_btn");
            btn.textContent = 'Đang đăng nhập...';
            btn.disabled = true;
        }
    </script>
{% endblock %}