{% extends "base.html" %}

{% block title %}Giới thiệu{% endblock %}

{% block css %}
    <style>
        body {
            background-color: #0000ff70;
        }

        .center {
            display: block;
            width: 200px;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        dialog {
            /* Initial styles when closed */
            opacity: 0;
            transition: opacity 0.3s ease-in-out, display 0.3s allow-discrete, overlay 0.3s allow-discrete;
        }

        dialog[open] {
            /* Styles when open */
            opacity: 1;
        }

        @starting-style {
            dialog[open] {
                /* Styles *before* the dialog opens, for a smooth entry */
                opacity: 0;
            }
        }

        dialog::backdrop {
            /* Styles for the backdrop */
            background: hsl(0 0% 0% / 0%);
            transition: background 0.3s ease-in-out;
        }

        dialog[open]::backdrop {
            background: hsl(0 0% 0% / 50%);
        }

        @starting-style {
            dialog[open]::backdrop {
                background: hsl(0 0% 0% / 0%);
            }
        }
        main, footer {
            animation-name: Hien_tu_tu;
            animation-duration: 1s;
        }
        @keyframes Hien_tu_tu {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <div class="bg-primary-subtle">
        <img src="https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/756345074_27428788190111251_7579517567823479315_n.jpg?stp=cp6_dst-jpg_tt6&cstp=mx1546x1546&ctp=s1546x1546&_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeE6alTARS2oTiUbytMDtyooPc9Y1oShp8s9z1jWhKGny6rekvAjMrCqklolccaRq-wIXnIYYFf-Na3GFlJ_UYSi&_nc_ohc=7ZPmvtXOr2MQ7kNvwFL_m38&_nc_oc=Adpp1VuDgaTh6kcs9p4R37RVhQCcX4j9zkdVBKqzks0bAGGXiQiH5p69LtN4Oboyv_3B2R-uMPqif_97_HlAoMKT&_nc_zt=23&_nc_ht=scontent.fhan19-1.fna&_nc_gid=VBIQ1GYQa0r07-7ItF0SEg&_nc_ss=7b2a8&oh=00_AQH3i7EA8ULLLxml0vG36AWLR1WQs7dVuQCAs5pVx9jIZA&oe=6A7503D6" class="rounded-circle center">
        <h2 class="text-primary p-3">Xin chào tất cả các bạn.</h2>
        <p>Mình là Đặng Quang Duy, học lớp 11A8 trường THPT Nguyễn Gia Thiều. Mình có sở thích là học lập trình.<br>Sau này khi mình lớn lên, mình sẽ trở thành lập trình viên.</p>
        <button title="Thêm thông tin" class="btn btn-primary" onclick="document.getElementById('myDialog_1').showModal()">Thêm thông tin</button>
    </div>
    <dialog style="width: 1000px; border: none;" class="bg-primary-subtle" id="myDialog_1" aria-labelledby="dialogTitle_1" style="border: none;">
        <h2 class="text-primary text-center text-uppercase" id="dialogTitle_1">Thông tin thêm</h2>
        <br>
        <ul>
            <li><b>Tiểu sử:</b></li>
            <ul>
                <li>Ngày sinh: 23/1/2009.</li>
                <li>Học tại trường: THPT Nguyễn Gia Thiều.</li>
                <li>Chơi cùng: Bạn cùng lớp.</li>
            </ul>
            <li><b>Thành viên trong gia đình:</b></li>
            <ol>
                <li>Đặng Quang Duy (mình).</li>
                <li>Lê Bảo Ảnh (mẹ của mình).</li>
                <li>Đặng Quang Dũng (bố của mình).</li>
                <li>Đặng Quang Thái Hưng (em trai của mình).</li>
            </ol>
            <li><b>Thông tin thêm của mình:</b></li>
            <ul>
                <li>Kỹ năng: Lập trình.</li>
                <li>Kinh nghiệm: Không có.</li>
            </ul>
        </ul>
        <form method="dialog">
            <button title="Đóng" class="btn btn-primary">Đóng</button>
        </form>
    </dialog>
{% endblock %}